<div class="top-main">
  <% if user_signed_in? %>
    <%= render partial: 'layouts/sidebar'%>
  <%else%>
    <div class= "blank_side_bar">
    </div>
  <%end%>
  <div class="toppage_content">
    <div class="buttons">
      <div class="top_btn">
        <%=link_to "入庫", new_stock_path, class: "stock_top_btn" %>
      </div>
      <div class="top_btn">
        <%=link_to "出庫", new_ship_path, class: "ship_top_btn"%>
      </div>
    </div>
  </div>
</div>