
<div class="item-main">
  <div class="items">
    <div class="search_items">
      <div class="search_items_title">
        <form class="search_items_content" action="" method="get" class="form-example">
          <input type="text" placeholder="カテゴリー" >
          <input type="text" placeholder="備品名" >
          <input type="submit" value="検索">
        </form>
      </div>

    </div>
    <%= link_to '備品新規登録', new_item_path %>
    <div class="items_title">備品一覧</div>
    <table class="items_table">
      <tr class="items_index_menu">  
        <th></th>
        <th>備品名</th>
        <th>カテゴリー</th>
        <th>在庫数</th>
        <th>発注点</th>
      </tr>
      <tr class="items_index_data">
        <td><input type="checkbox"></td>
        <td>ハサミ</td>
        <td>文房具</td>
        <td>3</td>
        <td>2</td>
      </tr>
      
    </table>
  </div>
</div>
