<div class="side_bar" id="side-bar">
  <% if user_signed_in?%>
    <%unless current_page?(root_path)%>
    <div class="sidebar_content">
      <%= link_to "入出庫画面", root_path, class:"sidebar_content"%>
    </div>
    <%end%>
    <%unless current_page?(new_item_path)%>
    <div class="sidebar_content">
      <%= link_to "備品新規登録", new_item_path, class:"sidebar_content"%>
    </div>
    <%end%>
    <%unless current_page?(items_path)%>
    <div class="sidebar_content">
      <%= link_to "登録備品一覧", items_path, class:"sidebar_content"%>
    </div>
    <%end%>
  <%else%>
    <div class="sign_out_sidebar_content">入出庫画面</div>
    <div class="sign_out_sidebar_content">備品新規登録</div>
    <div class="sign_out_sidebar_content">登録備品一覧</div>
  <%end%>

</div>