<div class="side_bar">
  <%unless current_page?(root_path)%>
    <%= link_to "入出庫画面", root_path, class:"sidebar_content"%><br>
  <%end%>
  <%unless current_page?(new_item_path)%>
    <%= link_to "備品新規登録", new_item_path, class:"sidebar_content"%><br>
  <%end%>
  <%unless current_page?(items_path)%>
    <%= link_to "登録備品一覧", items_path, class:"sidebar_content"%><br>
  <%end%>
</div>